  <div class="hadif-content row">
  <div class="blurred-bg"></div>
 <section class="top-content-menu col-md-12">

  <div>
   <a routerLink="/epg" routerLinkActive="active"><img src="assets/img/ic_timeline.png"></a>
  </div>
  <p>{{ 'Live-TV' | translate }}</p>

  <div>
   <a href="#" (click)="searchMode=true" class="open-remote"><img src="assets/img/ic_remote.png"></a>
  </div>
 </section>
 <section class="col-xs-12 col-md-9 forVideo">
  <section id="player-holder">
    <div class="alert-warning" *ngIf="urlError">{{urlError | translate}}</div>
    <video-player 
        *ngIf="!searchMode && video.url" 
        url="{{video.url}}" 
        preRoll="{{video.preRoll}}" 
        timeout="{{video.timeout}}" 
        [live]="true" 
        [catch]="catchUp">
    </video-player>
    <div class="feelings-holder">
      <ul>
        <li><img src="assets/img/likes/ic_feeling__joy.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling__joy_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_flushed.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_flushed_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_heart_eyes_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_rage.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_rage_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_sob.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_sob_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling__joy.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling__joy_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_flushed.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_flushed_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_heart_eyes_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_rage.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_rage_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_sob.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_sob_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling__joy.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling__joy_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_flushed.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_flushed_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_heart_eyes_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_rage.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_rage_active.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_sob.png" alt=""></li>
        <li><img src="assets/img/likes/ic_feeling_sob_active.png" alt=""></li>
      </ul>
    </div>
  </section>
  <section *ngIf="videoItems" class="bottom-player-menu">
   <a class="liker" href="#"><img src="assets/img/ic_feeling_heart_eyes.png"></a>
   <p>{{getField('contentTitle', videoItems[selectChanel])}}</p>
  </section>
  <section *ngIf="videoItems" class="description">
   <p *ngIf="!catchUp">{{getField('synopsis', videoItems[selectChanel])}}</p>

   <p *ngIf="catchUp">{{getField('title', contextObj)}} <button class="btn btn-context pull-right" (click)="select(selectChanel)">{{'back to live' | translate}}</button></p>
   <ul class="like-options">
      <li><img src="assets/img/likes/ic_feeling_heart_eyes.png" alt=""></li>
      <li><img src="assets/img/likes/ic_feeling__joy.png" alt=""></li>
      <li><img src="assets/img/likes/ic_feeling_flushed.png" alt=""></li>
      <li><img src="assets/img/likes/ic_feeling_rage.png" alt=""></li>
      <li><img src="assets/img/likes/ic_feeling_sob.png" alt=""></li>
  </ul>
  
  </section>
  <channel-epg 
    *ngIf="!searchItem" 
    id="{{ itemId }}" 
    (contextVideo)="loadCatchVideo($event)" >
  </channel-epg>

 </section>
 <section class="hadif-sidebar col-md-3" data-simplebar-direction="vertical">
  <div class="overflow-block">
    <div *ngFor="let item of videoItems; let i =index" >
      <div class="hadif-thumb" *ngIf="!item.end" [ngClass]="{'no-access': !hasAccess(item)}">
       <a (click)="hasAccess(item) ? select(i): goToVoucher(item.itemid) " href="#">
       <span class="play-overlay"></span>
        <img [src]="getImageUrl(item)" class="img-responsive">
        <p>{{getField('contentTitle', item)}}</p>
        <p>{{item.liveChannelNumber}}</p>
       </a>
      </div>
    </div>
</div>
 </section>
 <!-- REMOTE -->
<div *ngIf="searchMode" class="remote-holder" [ngClass]="{'show-overlay': searchMode}">
  <section class="top-content-menu col-md-12">
  <div class="remote-search">
    <form action="" autocomplete="on">
      <input type="number" 
      class="search-input" 
      id="search" 
      #searchinput="ngModel" 
      name="search" 
      [(ngModel)]="searchInput" 
      (ngModelChange)="getSearch()"  
      type="text" 
      [focus]="true" 
      >
    </form>
    <div *ngIf="searchinput.pristine " class="search-title">
      <span>{{ 'what lokiing number' | translate }}</span>
    </div>
  </div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="exitSearch()">
    <span aria-hidden="true">&times;</span>
  </button>
 </section>

 <div *ngIf="error" class="row">
   <div class="col-sm-6 col-sm-offset-3 text-center">
     <div class="alert alert-danger">
              {{ errortext | translate }}
     </div>
   </div>
 </div>

 <section *ngIf="searchItem" class="col-md-9 forVideo">

  <video-player 
    *ngIf="searchVideo.url" 
    url="{{searchVideo.url}}" 
    preRoll="{{searchVideo.preRoll}}"
    timeout="{{video.timeout}}" 
    [live]="true" 
    [catch]="catchUp" >
  </video-player>

  <section class="bottom-player-menu">
   <a href="#"><img src="assets/img/ic_feeling_heart_eyes.png"></a>
   <p>{{getField('contentTitle', searchItem)}}</p>
  </section>

  <section class="description">
   <p *ngIf="!catchUp">{{getField('synopsis', searchItem)}}</p>
   <p *ngIf="catchUp">{{getField('title', contextObj)}} <button class="btn btn-context pull-right" (click)="backToSearchVideo()">{{'back to life' | translate}}</button></p>
  </section>

  <channel-epg 
    *ngIf="searchItem" 
    id="{{searchItem.itemid}}"  
    (contextVideo)="loadSearchCatchVideo($event)" >
  </channel-epg> 

 </section>
 <section *ngIf="searchItem" class="hadif-sidebar col-md-3" data-simplebar-direction="vertical">
  <div class="hadif-thumb">
   <a href="#">
    <img [src]="searchItem.thumbnail" class="img-responsive">
    <p>{{getField('contentTitle', searchItem)}}</p>
    <p>{{searchItem.liveChannelNumber}}</p>
   </a>
  </div>
 </section>
</div>
 <!-- REMOTE END -->
