<div class="history-scroll">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center hadif-purple">{{'History' | translate }}
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 panel-left-content" data-simplebar-direction="vertical"><div class="simplebar-track" style="display: none;"><div class="simplebar-scrollbar"></div></div><div class="simplebar-scroll-content"><div class="simplebar-content">
        <div class="row">
          <div class="col-md-6">
            <div class="channel-holder">
              <div class="tv-thumb">
                <a href="#">
                  <img class="img-responsive" src="/assets/img/history/first-channel.jpg" alt="">
                  <span class="play-overlay"></span>
                </a>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <div class="channel-info">
                <span class="time-watched">00:00</span>
                <span class="channels-name">Channel name</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="channel-holder">
              <div class="tv-thumb">
                <a href="#">
                  <img class="img-responsive" src="/assets/img/history/second-channel.jpg" alt="">
                  <span class="play-overlay"></span>
                </a>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <div class="channel-info">
                <span class="time-watched">00:00</span>
                <span class="channels-name">Channel name</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="channel-holder">
              <div class="tv-thumb">
                <a href="#">
                  <img class="img-responsive" src="/assets/img/history/third-channel.jpg" alt="">
                  <span class="play-overlay"></span>
                </a>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <div class="channel-info">
                <span class="time-watched">00:00</span>
                <span class="channels-name">Channel name</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="channel-holder">
              <div class="tv-thumb">
                <a href="#">
                  <img class="img-responsive" src="/assets/img/history/fourth-channel.jpg" alt="">
                  <span class="play-overlay"></span>
                </a>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <div class="channel-info">
                <span class="time-watched">00:00</span>
                <span class="channels-name">Channel name</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="channel-holder">
              <div class="tv-thumb">
                <a href="#">
                  <img class="img-responsive" src="/assets/img/history/fifth-channel.jpg" alt="">
                  <span class="play-overlay"></span>
                </a>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <div class="channel-info">
                <span class="time-watched">00:00</span>
                <span class="channels-name">Channel name</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="channel-holder">
              <div class="tv-thumb">
                <a href="#">
                  <img class="img-responsive" src="/assets/img/history/sixth-channel.jpg" alt="">
                  <span class="play-overlay"></span>
                </a>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
              <div class="channel-info">
                <span class="time-watched">00:00</span>
                <span class="channels-name">Channel name</span>
              </div>
            </div>
          </div>
        </div>
      </div></div></div>
    </div>
  </div>