
	
<section class="row">
	<div class="col-md-12 oneEpg">

		<context-menu >
			<template contextMenuItem let-item passive="true">
			 	<img *ngIf="item?.thumbnail" class="contextImg" src={{item?.thumbnail}} alt="">
			  	<span class="context__title">{{item?.title ? item.title : ''}}</span>
			</template>
			<template contextMenuItem divider="true"></template>
			<template contextMenuItem let-item [enabled]="isActiveCatch" (execute)="openVideoId()" >
				{{'Catchup' | translate}}
				<span class="context__text">
						<img class="context__img" src="assets/img/catch-time.png" alt="">
				</span>
			</template>
		</context-menu>
		
		<div  #visChannelTimeline ></div>
		<div *ngIf="!load">loading...</div>
	</div>
</section>


