
  <div class="hadif-content row">
  <div class="blurred-bg"></div>
 <section class="top-content-menu centering-middle col-md-12">
  <p>القارئ عن التركيز</p>
 </section>
 <section class="col-md-9 followWrapper">
  <section id="jwplayer"></section>
  <section class="bottom-player-menu">
   <a class="pick-playlist" href="#"><img src="assets/img/ic_play_list.png"></a>
   <a class="vod-feelings" href="#"></a>
   <div class="choose-feeling">
     <ul>
       <li><input type="radio" id="feeling-option-1" name="feeling-option" value="VALUE"><label for="feeling-option-1" class="hadif-heart"><span>1.5k</span></label></li> 
       <li><input type="radio" id="feeling-option-2" name="feeling-option" value="VALUE"><label for="feeling-option-2" class="hadif-laughing"><span>500</span></label></li>
       <li><input type="radio" id="feeling-option-3" name="feeling-option" value="VALUE"><label for="feeling-option-3" class="hadif-wow"><span>244</span></label></li> 
       <li><input type="radio" id="feeling-option-4" name="feeling-option" value="VALUE"><label for="feeling-option-4" class="hadif-mad"><span>12</span></label></li> 
       <li><input type="radio" id="feeling-option-5" name="feeling-option" value="VALUE"><label for="feeling-option-5" class="hadif-crying"><span>0</span></label></li>
     </ul>
   </div>
   <p>لقارئ عن التركيز</p>
  </section>
  <section class="description">
   <p>على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو</p>
  </section>
  <section class="timeline">
  </section>
 </section>
 <section class="hadif-sidebar hadif-episodes hadif-lists col-md-3">
 <ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="#play-list">Play list</a></li>
  <li class="active"><a data-toggle="tab" href="#follow-list">Follow list</a></li>
</ul>
<div class="tab-content">
  <div id="follow-list" class="tab-pane fade in active" data-simplebar-direction="vertical">
    <div class="channel-holder">
      <div class="tv-thumb">
        <a href="#">
          <img class="img-responsive" src="/assets/img/history/first-channel.jpg" alt="">
          <span class="play-overlay"></span>
        </a>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
      <div class="channel-info">
        <span class="time-watched">00:00</span>
        <span class="channels-name">Channel name</span>
      </div>
    </div>
    <div class="channel-holder">
      <div class="tv-thumb">
        <a href="#">
          <img class="img-responsive" src="/assets/img/history/first-channel.jpg" alt="">
          <span class="play-overlay"></span>
        </a>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
      <div class="channel-info">
        <span class="time-watched">00:00</span>
        <span class="channels-name">Channel name</span>
      </div>
    </div>
    <div class="channel-holder">
      <div class="tv-thumb">
        <a href="#">
          <img class="img-responsive" src="/assets/img/history/first-channel.jpg" alt="">
          <span class="play-overlay"></span>
        </a>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
      <div class="channel-info">
        <span class="time-watched">00:00</span>
        <span class="channels-name">Channel name</span>
      </div>
    </div>
    <div class="channel-holder">
      <div class="tv-thumb">
        <a href="#">
          <img class="img-responsive" src="/assets/img/history/first-channel.jpg" alt="">
          <span class="play-overlay"></span>
        </a>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
      <div class="channel-info">
        <span class="time-watched">00:00</span>
        <span class="channels-name">Channel name</span>
      </div>
    </div>
  </div>
  <div id="play-list" class="tab-pane fade in" data-simplebar-direction="vertical">
    <div class="each-playlist">
       <a href="#">
        <img src="assets/img/thumb2.png" class="img-responsive">
        <p>في الصفحة التي</p>
       </a>
    </div>
    <div class="each-playlist">
     <a href="#">
      <img src="assets/img/thumb2.png" class="img-responsive">
      <p>في الصفحة التي</p>
     </a>
    </div>
    <div class="playlist-image">
      <label for="here" class="add-playlist"><p class="editable-text">الصفحة التي<</p> <a href="#" class="trigger-edit"></a></label>
    </div>
  </div>
</div>
 </section>
 <!-- OPEN LIST -->
  <div class="openlist-holder">
    <section class="top-content-menu col-md-12">
  <div class="hadif-drop left">
   <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><img class="ic_more" src="assets/img/ic_more.png"></a>
   <ul class="dropdown-menu vod-more" aria-labelledby="dropdownMenu1">
    <li class="edit-option"><a href="#">يوجد محتوى</a></li>
    <li class="delete-option"><a href="#">محتو</a></li>
   </ul>
  </div>
  <div class="stars-holder text-center" id="evaluate-stars">
    <p>Rate this episode</p>
    <input type="hidden" class="rating" data-filled="symbol symbol-filled" data-empty="symbol symbol-empty"/>
    <div class="proceed-next">
      <a href="#">محت</a>
      <a href="#">يوجد</a>
    </div>
  </div>
  <p class="titled-vod">القارئ عن التركيز</p>
  <a href="#" class="getting-back backto-lists"><img src="assets/img/ic_back.png"></a>
 </section>
 <section class="col-md-9">
  <section id="jwplayer-list"></section>
  <section class="bottom-player-menu">
   <a class="pick-playlist" href="#"><img src="assets/img/ic_play_list.png"></a>
   <a class="vod-feelings" href="#"></a>
   <div class="choose-feeling">
     <ul>
       <li><input type="radio" id="feeling-option-1" name="feeling-option" value="VALUE"><label for="feeling-option-1" class="hadif-heart"><span>1.5k</span></label></li> 
       <li><input type="radio" id="feeling-option-2" name="feeling-option" value="VALUE"><label for="feeling-option-2" class="hadif-laughing"><span>500</span></label></li>
       <li><input type="radio" id="feeling-option-3" name="feeling-option" value="VALUE"><label for="feeling-option-3" class="hadif-wow"><span>244</span></label></li> 
       <li><input type="radio" id="feeling-option-4" name="feeling-option" value="VALUE"><label for="feeling-option-4" class="hadif-mad"><span>12</span></label></li> 
       <li><input type="radio" id="feeling-option-5" name="feeling-option" value="VALUE"><label for="feeling-option-5" class="hadif-crying"><span>0</span></label></li>
     </ul>
   </div>
   <p>لقارئ عن التركيز</p>
  </section>
  <section class="description">
   <p>على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو</p>
  </section>
  <section class="timeline">
  </section>
 </section>
 <section class="hadif-sidebar hadif-episodes col-md-3" data-simplebar-direction="vertical">
  <div class="hadif-episodes-holder">
    <div class="channel-holder">
      <div class="tv-thumb">
        <a href="#">
          <img class="img-responsive" src="/assets/img/history/first-channel.jpg" alt="">
          <span class="play-overlay"></span>
        </a>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
      <div class="channel-info">
        <span class="time-watched">00:00</span>
        <span class="channels-name">Channel name</span>
      </div>
    </div>
    <div class="channel-holder">
      <div class="tv-thumb">
        <a href="#">
          <img class="img-responsive" src="/assets/img/history/first-channel.jpg" alt="">
          <span class="play-overlay"></span>
        </a>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
      <div class="channel-info">
        <span class="time-watched">00:00</span>
        <span class="channels-name">Channel name</span>
      </div>
    </div>
    <div class="channel-holder">
      <div class="tv-thumb">
        <a href="#">
          <img class="img-responsive" src="/assets/img/history/first-channel.jpg" alt="">
          <span class="play-overlay"></span>
        </a>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
      <div class="channel-info">
        <span class="time-watched">00:00</span>
        <span class="channels-name">Channel name</span>
      </div>
    </div>
    <div class="channel-holder">
      <div class="tv-thumb">
        <a href="#">
          <img class="img-responsive" src="/assets/img/history/first-channel.jpg" alt="">
          <span class="play-overlay"></span>
        </a>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="80" style="width:70%">
          <span class="sr-only">70% Complete</span>
        </div>
      </div>
      <div class="channel-info">
        <span class="time-watched">00:00</span>
        <span class="channels-name">Channel name</span>
      </div>
    </div>
  </div>
 </section>
  </div>
 <!-- CLOSE LIST -->
 <div class="login-overlay">
   <div class="steps first-step">
  <div class="blurred-bg"></div>
  <div class="container log-container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>يوجد محتوى</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center middle-holder">
        <img src="/assets/img/ic_glasses.png" alt="">
        <span class="short-info">يوجد محتوى</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4 text-center">
        <a href="#" class="btn btn-login login-move">فحة</a>
      </div>
    </div>
  </div>
</div>
