 <section class="header-gradient"></section>
 <section class="container">
  <div class="row">
   <div class="hadif-menu col-md-12 col-sm-12 col-xs-12">
   <div class="navbar-header pull-right">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
  

      <a *ngIf="isAuthorized()" class="switcher hidden-xs" routerLinkActive="active"  routerLink="/logout" ><img src="assets/img/turn-on.png" alt="">
      <span class="border-abs"></span>
      </a>
      <a *ngIf="!isAuthorized()" class="switcher hidden-xs" routerLinkActive="active"  routerLink="/login" ><img src="assets/img/turn-on.png" alt="">
      <span class="border-abs"></span>
      </a>
    
      <ul class="hidden-xs">
         <li routerLinkActive="active" class="iconSetting">
          <a *ngIf="isAuthorized()" routerLink="/setting" ><img src="assets/img/ic_menu_1.png">
          <span class="border-abs"></span>
          </a>
         </li>
         <li routerLinkActive="active">
          <a routerLink="/follow" ><img src="assets/img/ic_menu_2.png">
          <span class="border-abs"></span>
          </a>
         </li>
         <li routerLinkActive="active">
          <a routerLink="/vod" ><img src="assets/img/ic_menu_3.png">
          <span class="border-abs"></span>
          </a>
         </li>
         <li routerLinkActive="active">
          <a routerLink="/live" ><img src="assets/img/ic_menu_4.png">
          <span class="border-abs"></span>
          </a>
         </li>
    </ul>
        <div class="logo logo-ab">
         <!--class logo-en for left-align logo-->
         <img src="assets/img/logo-1.png">
         <img src="assets/img/logo-2.png">
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="visible-xs">

            <li *ngIf="isAuthorized()" routerLinkActive="active" class="visible-xs">
              <a routerLink="/logout" ><img src="assets/img/turn-on.png" alt="">
              <span class="border-abs"></span>
              </a>
            </li>
            <li *ngIf="!isAuthorized()" routerLinkActive="active">
              <a routerLink="/login" ><img src="assets/img/turn-on.png" alt="">
              <span class="border-abs"></span>
              </a>
            </li>

            <li routerLinkActive="active" class="iconSetting">
              <a *ngIf="isAuthorized()" routerLink="/setting" ><img src="assets/img/ic_menu_1.png">
              <span class="border-abs"></span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/follow" ><img src="assets/img/ic_menu_2.png">
              <span class="border-abs"></span>
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/vod" ><img src="assets/img/ic_menu_3.png">
              <span class="border-abs"></span>
              </a>
            </li>
         

            <li routerLinkActive="active">
              <a routerLink="/live" ><img src="assets/img/ic_menu_4.png">
              <span class="border-abs"></span>
              </a>
            </li>
        </ul>
        </div>
   </div>
  </div>

  <router-outlet></router-outlet>
  <toaster-container></toaster-container>
</section>