<div class="steps">
  <div class="blurred-bg"></div>
    <div class="container log-container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2> {{ 'payment' | translate }}</h2>
          <a  routerLink="/price" routerLinkActive="active"  class="move-next backto-login"></a>
        </div>
      </div>

      <div  class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center paymentWrapper">
      <br>
        <p *ngIf="!freeDays"> {{ ('to Pay' | translate)  + ' ' + price + ' ' + ('currency' | translate) }} 
        </p> 
        
        <p *ngIf="freeDays"> {{ ( 'text1' | translate) +' '+ price +' '+ ( 'text2' | translate)}} 
        </p>
      </div>
    </div>
    <div  #wrapForPayment class="row" *ngIf="start">


      <div  class="col-md-12 paymentWrapper" *ngIf="hpay">
        <form action="{{url}}" class="paymentWidgets">VISA MASTER</form>
      </div>


    </div>
  </div>
</div>
